@media (-moz-pref("zenith.pinned-extensions")) {
  /* Pinned Extensions */
  :root[customizing] #TabsToolbar-customization-target {
    visibility: visible !important;
  }

  .zen-workspace-pinned-tabs-section {
    display: flex !important;
    flex-direction: column;
  }

  :root[zen-single-toolbar="true"] #nav-bar {
    margin-bottom: 8px !important; /* Adjust gap between urlbar and extensions */
  }

  /* Pinned extensions */
  #TabsToolbar-customization-target {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: calc(var(--zen-toolbox-padding) - 3px) !important;

    #tabbrowser-tabs {
      min-width: 100% !important;
      height: calc(100% - 37px) !important;
    }

    #Zen-tabs-wrapper {
      max-height: 700px !important;
    }

    .unified-extensions-item-action-button {
      padding: 0px !important;
    }

    /* Pinned Extensions */
    .unified-extensions-item {
      margin-inline: 2px !important;
      border-bottom: 0px !important;
      padding: 0px !important;
      height: 32px !important;
      width: 32px !important;
      flex-grow: 1 !important;
      order: -1 !important;
      background-color: rgba(225, 225, 225, 0.1) !important;
      box-shadow: 0 0px 3px
        light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)) !important;
      border-radius: calc(var(--nebula-border-radius) - 0.5px) !important;
      transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease !important;
    }

    .unified-extensions-item:hover {
      background-color: rgba(225, 225, 225, 0.3) !important;
      box-shadow: 0 0px 3px
        light-dark(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.95)) !important;
    }

    > toolbarbutton:not([id="tabs-newtab-button"]):not(#sort-button):not(
        #clear-button
      ),
    > toolbaritem:not(#sort-button):not(#clear-button) {
      height: 32px !important;
      width: 32px !important;
      flex-grow: 1 !important;
      padding: 0px !important;

      toolbarbutton,
      stack {
        --toolbarbutton-active-background: transparent !important;
        --toolbarbutton-hover-background: transparent !important;
      }

      .toolbarbutton-badge {
        display: none !important;
      }

      .toolbarbutton-text {
        display: none !important;
      }
    }

    > toolbarbutton:not([id="tabs-newtab-button"]),
    > toolbaritem {
      background-color: rgba(225, 225, 225, 0.1) !important;
      box-shadow: 0 0px 3px
        light-dark(rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.12)) !important;
      border-radius: calc(var(--nebula-border-radius) + 1px) !important;
      margin: 0px !important;
      order: -1 !important;
      flex-grow: 1 !important;
      transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease !important;
    }

    > toolbarbutton:not([id="tabs-newtab-button"]):hover,
    > toolbaritem:hover {
      background-color: rgba(225, 225, 225, 0.3) !important;
      box-shadow: 0 0px 3px
        light-dark(rgba(255, 255, 255, 0.95), rgba(0, 0, 0, 0.95)) !important;
    }
  }

  /* for collapsed toolbar */
  html:not([zen-sidebar-expanded="true"]):not([zen-single-toolbar="true"])
    #TabsToolbar-customization-target
    .unified-extensions-item {
    width: 24px !important;
    height: 32px !important;
    margin-inline: 6px !important; /* fake side padding */
    margin-block: 2px !important; /* vertical spacing */
  }
}
